<footer class="footer footer_marging">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-0 footer-left">
          <p class="mb-0">&copy; <%=language.Copyright_2024_All_Rights_Reserved_by%> <%=general_data.site_title %></p>
        </div>
        <div class="col-md-6 p-0 footer-right">
          <p class="mb-0"><%=language.Hand_crafted%> & <%=language.made_with%> <i class="fa fa-heart font-danger"></i></p>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>